body {
    background-color: #6caff1;
}

.wrapper {
    width: 800px;
    background-color: green;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    font-family: 'open sans';
    font-weight: 300;
}
.btn {
    background-color: orange;
}
.digits {
    color: white;
    font-size: 120px;
}

/*.blinker {
>>>>>>> origin/master
    width: 50px;
    color: white;
    float: left;
    margin: auto;
	position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
}

#hour {
    text-align: right;*/


