body {
    background-color: #6caff1;
}

.wrapper {
    background-color: green;
    text-align: center;
    position: absolute:
    top: 50%;
}
.btn {
    background-color: orange;
    
}
.digits {
    color: white;
    font-size: 120px;
    font-family: 'Roboto Slab', serif;
}

/*.blinker {
    width: 50px;
    color: white;
    float: left;
    margin: auto;
	position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
}

#hour {
    text-align: right;*/


